body {
  background-color: black;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(60, 60, 60);
}

.heading {
  font-family: 'Lobster', cursive;
}

#title {
  font-size: 90px;
  text-align: center;
}

span {
  color: red;
}

#image {
  width: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 500px red;
}

.img-div {
  text-align: center;
}

.info {
  width: 80%;
  margin: 20px auto;
  text-align: justify;
  font-size: 1.5rem;
}

#marvel {
  color: red;
  /* margin-left: 10%; */
  width: 80%;
  margin: auto;
  font-size: 30px;
}

ul {
  width: 80%;
  margin: auto;
}

li {
  font-size: 24px;
  line-height: 3rem;
}

.footer {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

#link {
  text-decoration: none;
  color: white;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 1rem;
  background-color: black;
}

#link:hover {
  background-color: rgb(94, 93, 93);
  color: red;
}

